<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de libros</title>
</head>
<body>
    <h1>Lista de libros</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Autor</th>
                <th>Categoria</th>
                <th>ISBN</th>
                <th>Edición</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="libro : ${libros}">
                <td th:text="${libro.id}"></td>
                <td th:text="${libro.titulo}"></td>
                <td th:text="${libro.autor}"></td>
                <td th:text="${libro.categoria}"></td>
                <td th:text="${libro.isbn}"></td>
                <td th:text="${libro.edicion}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
